@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.name {
    text-align: center;
    color:white;
    font-family: 'Ephesis', cursive;
    font-size:100px ;;
}

body {
    background: rgb(116,0,0);
    background: linear-gradient(90deg, rgba(116,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,168,168,1) 100%);
}
.logos {
    text-align: center;
    color: white;
}

a {
     text-decoration: none;
    color: white;
    padding-right: 30px;
    transition: transform 150ms ease-in-out;
}
a:hover {
    transform: scale(1.2);
}